.content-wrapper {
  width: 100%;
  display: inline-block;
  min-height: calc(25vh);
  margin: 100px auto -8px;
}

.content-top{
  width: 100%;
  display: inline-block;
  min-height: calc(25vh);
  margin: 100px auto 100px;
  @include breakpoint($tablet){
    margin-top: $gutter*4;
  }
}

.path-contact {
  .content-wrapper {
    margin: 0 auto $gutter*5;
  }
}

.path-user .block-local-tasks-block,
.path-user .block-page-title-block {
  max-width: 700px;
  margin: 40px auto 0;
  a {
    color: $design-black;
    &:hover {
      background-color: lighten($design-golden-brown, 60%);
    }
    &.is-active {
      background-color: lighten($design-golden-brown, 60%);
    }
  }
}
