.news-filter,
.event-filter {
  position: relative;
  width: 384px;
  margin: $gutter*2 auto;
  background: $design-black;
  z-index: 2;
  cursor: pointer;
  .view-header {
    text-align: center;
    padding: $gutter 0;
    h5 {
      opacity: 1;
      margin-bottom: 0;
      text-transform: uppercase;
      color: $gold;
    }
  }

  .view-content {
    position: absolute;
    width: 384px;
    text-align: center;
    .filter-row {
      opacity: 0;
      background-color: $design-black;
      padding: $gutter/2;
      @include transition(all 0.5s ease);
      &:hover {
        background-color: $gold;
        a {
          color: $design-black;
        }
      }
    }
  }

  &:hover {
    .view-content {
      .filter-row {
        opacity: 1;
      }
    }
  }
}
