.hp-the-ladies {
  width: 50%;
  float: left;
  @include breakpoint($desktop) {
    width: 100%;
    float: none;
  }
}

.hp-events {
  width: 50%;
  float: right;
  @include breakpoint($desktop) {
    float: left;
  }
}

.hp-news {
  width: 50%;
  float: right;
}
