.hp-the-ladies {
  width: 50%;
  float: left;
  @include breakpoint($desktop) {
    width: 100%;
    float: none;
  }
}

.hp-events {
  width: 50%;
  float: right;
  @include breakpoint($small) {
    float: none;
    width: 100%;
  }
}

.hp-news {
  width: 50%;
  float: right;
  @include breakpoint($small) {

  }
}

.hp-events,
.hp-news {
  @include breakpoint($mobile) {
    float: none;
    width: 100%;
  }
}
