.news-teasers,
.event-teasers {
  width: 100%;
  float: left;
  margin: $gutter;
  .view-content{
    .news-item,
    .event-item {
      width: 23.1111%;
      float: left;
      margin: 0 $gutter $gutter 0;
      cursor: pointer;
      display: block;
      .node--view-mode-teaser {
        position: relative;
        .field-image {
          overflow: hidden;
          .banner-images {
            height: 251px;
            transform: scale(1.5);
            @include transition(opacity 0.35s, transform 0.35s);
          }
        }
        .text-row {
          top: 0;
          left: 0;
          opacity: 0;
          height: 100%;
          position: absolute;
          background-color: $design-black;
          line-height: 0;
          padding: $gutter;
          overflow: hidden;
          @include transition(all 0.5s ease);
          h4, h5 {
            color: $white;
          }
          &:before {
            content: "";
            display: block;
            height: 90px;
            left: 0;
            position: absolute;
            border-left: 4px solid $gold;
          }
        }
      }

      &:hover {
        .text-row {
          opacity: 0.9;
        }
        .banner-images {
          transform: scale(1);
        }
      }
    }
  }
}
