.mini-tl-teasers {
  background-color: $design-golden-brown;
  padding: $gutter*3 0 $gutter 0;
  height: 100%;
  .view-header {
    width: 30px;
    margin: 0 auto;
    position: relative;
    padding-bottom: $gutter;
    span {
      font-size: 0;
      position: absolute;
      bottom: 45px;
      &:before ,
      &:after {
        content: '';
        position: absolute;
        display: block;
        cursor: pointer;
        height: 4px;
        width: 30px;
        background: $gold;
        @include transition(all 0.1s ease-in-out);
      }

      &:before {
        top: 26px;
        @include rotate(-45deg);
      }

      &:after {
        @include rotate(45deg);
      }
    }
  }
  .view-content {

    .mini-list {
      .owl-item {
        width: 31.1111%;
        float: left;
      }
    }
    .owl-stage {
      .owl-item {
        overflow: hidden;
        display: inline-block;
      }
    }
    .owl-nav {
      position: relative;
      bottom: 160px;
      .owl-next, .owl-prev {
        font-size: 0;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 50%;
        background-size: 35px auto;
        background-color: $gold;
        @include transition(all 0.5s ease);
        border: 2px solid $gold;
        cursor: pointer;
        height: 35px;
        width: 35px;
        &:hover {

        }
      }
      .owl-prev {
        float: left;
        margin-right: 5px;
        background-image: url(../images/icons/prev-hover.png);
      }
      .owl-next {
        float: right;
        margin-left: 5px;
        background-image: url(../images/icons/next-hover.png);
      }
    }
    .owl-dots {
      display: none;
    }
  }
}
