.the-ladies {
  position: relative;
  line-height: 0;

   /*
  * - View Co=ontent
  */
  .view-content {
    position: relative;
    line-height: 0;
    .owl-stage {
      overflow: hidden;
      .owl-item {
        overflow: hidden;
        display: inline-block;
      }
    }

    .owl-nav {
      width: 100%;
      top: 38%;
      position: absolute;
      transform: translateY(-50%);
      .owl-next, .owl-prev {
        font-size: 0;
        padding: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 35px auto;
        cursor: pointer;
        height: 55px;
        width: 55px;
        transition: transform 1.7s cubic-bezier(.19,1,.22,1);
        @include transition(all 0.5s ease-out);
      }
      .owl-prev {
        float: left;
        margin-right: 5px;
        background-image: url(../images/icons/prev.png);
        transform: translateX(-100%);
      }
      .owl-next {
        float: right;
        margin-left: 5px;
        background-image: url(../images/icons/next.png);
        transform: translateX(100%);
      }
    }
    .owl-dots {
      display: none;
    }
  }

  /*
  * - View Footer (Plus sign)
  */
  .view-footer {
    z-index: 2;
    background-color: $design-black;
    text-align: center;
    width: 100%;
    height: 80px;
    bottom: 0;
    visibility: hidden;
    position: absolute;
    transform: translateY(60%);
    transition: transform 1.7s cubic-bezier(.19,1,.22,1);
    @include transition(all 0.5s ease-out);
    span {
      font-size: 0;
      position: absolute;
      bottom: 30px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      &:before ,
      &:after {
        content: '';
        position: absolute;
        display: block;
        cursor: pointer;
        height: 2px;
        width: 30px;
        background: $gold;
      }
      &:before {
        top: 13px;
        @include rotate(-90deg);
      }
      &:after {
        top: 13px;
        @include rotate(0deg);
      }
    }
  }

  &:hover {
    .owl-nav {
      .owl-next, .owl-prev {
        transform: translateX(0);
        @include transition(all 0.5s ease);
        background-color: $design-black;
      }
    }
    .view-footer {
      bottom: 4%;
      visibility: visible;
      transform: translateY(36%);
      @include transition(all 0.5s ease);
    }
    .mini-tl-teasers {
      visibility: hidden;
    }
  }

  /*
  * - On click of #js-more-btn
  */
  &.open-mini {

    .view-footer {
      height: 30%;
      bottom: 14%;
      visibility: visible;
      background-color: $design-golden-brown;
      span {
        bottom: 75%;
        &:before {
          @include rotate(-45deg);
        }
        &:after {
          @include rotate(45deg);
        }
      }
      .mini-tl-teasers {
        bottom: 17%;
        visibility: visible;
        transform: translateY(35%);
        @include transition(all 0.5s ease);
      }
    }
  }

}
