.the-ladies {
  position: relative;
  line-height: 0;

   /*
  * - View Co=ontent
  */
  .view-content {
    position: relative;
    line-height: 0;
    .owl-stage {
      overflow: hidden;
      .owl-item {
        overflow: hidden;
        display: inline-block;
      }
    }

    .owl-nav {
          width: 100%;
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
      .owl-next, .owl-prev {
        font-size: 0;
        padding: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 35px auto;
        background-color: $design-black;
        @include transition(all 0.5s ease);
        opacity: 0.5;
        cursor: pointer;
        height: 35px;
        width: 35px;
        &:hover {
          opacity: 0.8;
        }
      }
      .owl-prev {
        float: left;
        margin-right: 5px;
        background-image: url(../images/icons/backward.png);
      }
      .owl-next {
        float: right;
        margin-left: 5px;
        background-image: url(../images/icons/forward.png);
      }
    }
    .owl-dots {
      display: none;
    }
  }

  /*
  * - View Footer
  */
  .view-footer {
    background-color: $design-golden-brown;
    @include transition(all 0.5s ease);
    z-index: 2;
    transform: translateY(60%);
    transition: transform 1s cubic-bezier(.19,1,.22,1);
    padding: $gutter 0;
    text-align: center;
    width: 100%;
    height: 60px;
    bottom: 0;
    position: absolute;
    visibility: hidden;
    span {
      font-size: 0;
      position: absolute;
      bottom: 45px;
      &:before ,
      &:after {
        content: '';
        position: absolute;
        display: block;
        cursor: pointer;
        height: 4px;
        width: 30px;
        background: $gold;
      }

      &:before {
        top: 13px;
        @include rotate(-90deg);
      }

      &:after {
        top: 13px;
        @include rotate(0deg);
      }
    }
  }

  &:hover {
    .view-footer {
      transform: translateY(36%);
      visibility: visible;
    }
  }
}
