.content-bottom {
  position: relative;
}

.mini-tl-teasers {
  background-color: $design-golden-brown;
  padding: 22px 0;
  width: 100%;
  z-index: 2;
  bottom: 40%;
  visibility: hidden;
  position: absolute;
  transform: translateY(60%);
  .view-header {
    width: 30px;
    margin: 0 auto;
    position: relative;
    span {
      font-size: 0;
      position: absolute;
      bottom: 30px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      &:before ,
      &:after {
        content: '';
        position: absolute;
        display: block;
        cursor: pointer;
        height: 2px;
        width: 30px;
        background: $gold;
        @include transition(all 0.1s ease-in-out);
      }

      &:before {
        top: 26px;
        @include rotate(-45deg);
      }
      &:after {
        @include rotate(45deg);
      }
    }
  }
  .view-content {
    .owl-stage {
      .owl-item {
        overflow: hidden;
        display: inline-block;
      }
    }
    .owl-nav,
    .owl-dots {
      display: none;
    }
  }
}
