// =====================
// DESIGN COLORS

$gold: #dbbc90;
$design-golden-brown: #252525;
$design-black: #1e1f20;
$design-brown: #978268;


// MOST COMMONLY USED COLORS THROUGHOUT THEME
// =============================================================================

$black: #000000;
$white: #ffffff;
$grey: #dddddd;

// CUSTOM COLORS
$green: green;
$red: red;
$orange: orange;
$blue: blue;
$light-grey: #bdbdbd;

$body-text: $black;

$link: $gold;



// ======================
// DEFAULT SYSTEM COLORS

$system__pink: #F9D5DB; // For errors i.e.
$system__blue: #D9EDF7; // For system messages i.e.


// ======================
// GUTTER

$gutter: 20px;
