
#block-getintouch {
  padding: $gutter*2 0;
  background-color: $design-golden-brown;
  .contact-page {
    p {
      color: $grey;
      a {
        clear: both;
        margin-top: $gutter;
      }
    }
    .top-region-wrapper {
      max-width: 1100px;
      margin: 0 auto;
      .top-region {

        .top-left-region {
          width: 66.66667%;
          float: left;
          padding: 5.55556%;
          .inner {

            h2 { font-size: 50px; }
            p {
              font-size: 18px;
              line-height: 33px;
            }

          }
        }

        .top-right-region {
          width: 33.33333%;
          float: left;
          padding: 5.55556%;
          border-left: 1px solid rgba(115, 115, 115, 0.4);
          .inner {
            &:after {
              content: "";
              display: block;
              width: 100%;
              margin: $gutter*2 0;
              border: 1px solid rgba(115, 115, 115, 0.4);
            }
            h2 { font-size: 25px; }
            p {
              font-size: 13px;
              line-height: 27px;
            }
            &:last-child{
              &:after { display: none; }
            }
          }
        }
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    left: $gutter*2;
    width: 20%;
    height: 20rem;
    bottom: -14rem;
    background-image: url(../images/background/paint-splash.png);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

