.paragraph--type--gallery {

  .field--name-field-images {
    display: inline-block;
    padding-bottom: 25px;
    width: 100%;
    padding-top: 25px;
    a.field__item {
      line-height: 0;
      padding: 0 $gutter/2 $gutter/2 0;
      float: left;
      width: $gutter*5;
      height: auto;
      &:nth-child(4n) {
        padding-right: 0;
        img{
          padding-right: $gutter/2;
        }
      }
    }
  }
}


.mfp-gallery {
  .mfp-container {

    .mfp-arrow {
      font-size: 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $design-black;
      border-radius: 50%;
      background-size: 50px auto;
      display: inline-block;
      cursor: pointer;
      height: 50px;
      width: 50px;
      @include transition(all 0.5s ease);
    }

    .mfp-arrow-left {
      left: $gutter*2;
      background-image: url(../images/icons/prev.png);
    }
    .mfp-arrow-right {
      right: $gutter*2;
      background-image: url(../images/icons/next.png);
    }
  }
}
