.paragraph--type--video {

  .video-wrapper {
    position: relative;
    .video-overlay {
      display: none;
    }

    .banner-images {
      height: 551px;
      @include breakpoint($desktop) {
        height: 350px;
      }
    }
    .text-box {
      top: 38%;
      width: 100%;
      height: 100%;
      position: absolute;
      text-align: center;
      .video-icon {
        height: 50px;
        margin-bottom: $gutter;
        background: url(../images/icons/play-button-shaded.svg) no-repeat center center;
      }
    }
  }
}


/*
* - mfp Overrides
*/
.node--type-events,
.node--type-article,
.node--type-the-ladies {

  .mfp-wrap:not(.mfp-gallery) {

    .mfp-container {
      top: -50%;
      .mfp-content: {
        display: block;
        .mfp-close {
          right: 0 !important;
          top: -70px !important;
          opacity: 1;
          height: 70px;
          padding-right: $gutter;
          background-color: $design-brown;
        }
        .mfp-title{
          position: absolute;
          top: -60px;
          left: 15px;
          z-index: 99999;
          @include h3;
          line-height: 24px;
        }
      }
    }
  }
}

