// LINK STYLES
// =============================================================================
a,
a:link,
a:visited {
  @include transition(all 0.5s ease);
  line-height: inherit;
  text-decoration: none;
  color: $gold;

  &:hover{
    text-decoration: none;
    color: lighten($gold, 10%);
    img{
      transition: all 0.5s ease-out;
      @include opacity(0.75);
    }
  }

}
