// LINK STYLES
// =============================================================================
a,
a:link,
a:visited {
  text-decoration: none;
  color: $black;
  &:hover {
    color: $gold;
    img{
      @include opacity(0.75);
    }
  }
}
