// BASE FONT
// =============================================================================

html {
  @include font-regular;
  @include font-size($base-font-size,true);
  @include breakpoint($mobile) {
    font-size: 87.5%;
    line-height: 1.5;
  }
  -webkit-font-smoothing: antialiased;
}

// HEADER STYLES
// =============================================================================

p, li{
  color: $black;
  margin: 20px 0;
  line-height: 24px;
  font-size: rem(15px);
}

h4,
h5,
h6 {
  color: $black;
}

h1,
h2,
h3{
  color: $gold;
  line-height: 1.1em;
  margin-bottom: 20px;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5{
  @include h5;
}

h6{
  @include h6;
}

// TEXT STYLES
// =============================================================================
b, strong {
  @include font-bold;
}

em{
  font-family: italic;
}

blockquote{
  font-style: italic;
  padding: 0 $gutter;
}
