.node--type-events  {

  &.node--view-mode-hp-teasers {

    .banner-images {
      height: 551px;
    }
    .teaser-text {
      background-color: $design-sand-brown;
      .table {
        h4 {
          color: $design-black;
        }
        span {
          &:before,
          &:after {
            background: $design-black;
          }
        }
      }
    }
  }
}
