.node--type-events,
.node--type-the-ladies,
 .node--type-article {

  &.node--view-mode-hp-teasers {
    position: relative;

    /*
    * - Background image wrapper
    */
    .field-image {
      width: 100%;
      height: 100%;
      display: block;
    }

    /*
    * - Text Boxes
    */

  }
}


.node--type-events,
.node--type-article {

  &.node--view-mode-hp-teasers {

    .teaser-text {
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0.92;
      height: 100%;
      position: absolute;
      line-height: 0;
      padding: $gutter;
      overflow: hidden;
      @include transition(all 0.5s ease);
      .table {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        h2, p {
          color: $white;
        }
        span {
          text-align: center;
          bottom: -30%;
          left: 50%;
          width: 30px;
          height: 30px;
          cursor: pointer;
          margin: auto;
          display: block;
          position: absolute;

          &:before ,
          &:after {
            content: '';
            position: absolute;
            display: block;
            cursor: pointer;
            height: 2px;
            width: 30px;
          }

          &:before {
            top: 13px;
            @include rotate(-90deg);
          }

          &:after {
            top: 13px;
            @include rotate(0deg);
          }
        }

      }
    }

  }
}
