.node--type-the-ladies,
.node--type-events,
.node--type-article {

  /*
  * - General Node Styling
  */

  .field-gallery {
    overflow: hidden;
  }

  .info-wrapper {

    padding: $gutter*2;
    height: 700px;
    overflow: hidden;
    position: relative;
    .node-info {
      time {
        @include font-regular;
        font-size: 20px;
        line-height: 18px;
      }
      &:before {
        content: "";
        display: block;
        height: 140px;
        left: 0;
        position: absolute;
      }
      h2 {
        &:after {
          content: "";
          display: block;
          width: 200px;
          padding-top: $gutter;
        }
      }
       h3 {
        font-size: 16px;
        font-weight: 100;
      }
    }

    .field-para {
      overflow: hidden;
      .field--name-field-paragraph-content {
        &:after {
          content: '';
          transition: all 1s ease;
          position: fixed;
          bottom: 0;
          transform: rotate(180deg);
          right: 0;
          left: 0;
          opacity: 1;
          z-index: 1;
          height: 30vh;
          width: 100%;
          pointer-events: none;
        }
      }
    }

  }


  /*
  * - Based on body background
  */
  &.black {

    .info-wrapper {
      background-color: $design-golden-brown;
      .node-info {
        &:before {
          border-left: 4px solid $gold;
        }
        time {
          color: $white;
        }
        h2 {
          &:after {
            border-bottom: 1px solid $white;
          }
        }
        h3 {
          color: $light-grey;
        }
      }
    }

    .field-para {
      .field--name-field-paragraph-content {
        &:after {
          background: linear-gradient($design-black,rgba(37, 37, 37, 1));
        }
      }
    }
  }

  &.white {
    .info-wrapper {
      background-color: $white;
      .node-info {
        &:before {
          border-left: 4px solid $gold;
        }
        time {
          color: $design-black;
        }
        h2 {
          color: $gold;
          &:after {
            border-bottom: 1px solid $design-black;
          }
        }
        h3 {
          color: $design-brown;
        }
      }
    }

    .field-para {
      .field--name-field-paragraph-content {
        &:after {
          background: linear-gradient($white,rgba(255,255,255,0));
        }
      }
    }
  }

  &.gold {
    .info-wrapper {
      background-color: $gold;
      .node-info {
        &:before {
          border-left: 4px solid $design-black;
        }
        time {
          color: $design-black;
        }
        h2 {
          color: $design-black;
          &:after {
            border-bottom: 1px solid $design-black;
          }
        }
        h3 {
          color: $design-brown;
        }
      }
    }

    .field-para {
      .field--name-field-paragraph-content {
        &:after {
          background: linear-gradient($gold,rgba(151, 130, 104, 1));
        }
      }
    }
  }

  section.left-hs {
    width: 60%;
    height: 100%;
    float: left;
    .banner-images {
      height: 700px;
    }
  }

  section.right-hs {
    width: 40%;
    height: 100%;
    float: left;
  }
}
