.node--type-the-ladies,
.node--type-events,
.node--type-article {

  /*
  * - General styling
  */
  h2 {
    &:after {
      content: "";
      display: block;
      width: 200px;
      padding-top: $gutter;
    }
  }
   h3 {
    font-size: 16px;
    font-weight: 100;
  }
  time {
    @include font-regular;
    font-size: 20px;
    line-height: 18px;
    color: $white;
  }


  /*
  * - Based on body background
  */
  &.black {

    .info-wrapper {
      padding: $gutter*2;
      background-color: $design-golden-brown;

      time {
        color: $white;
      }

      h2 {
        &:after {
          border-bottom: 1px solid $white;
        }
      }

      h3 {
        color: $light-grey;
      }

    }
  }

  &.white {
    .info-wrapper {
      padding: 40px;
      background-color: $white;
    }
  }

  &.gold {
    .info-wrapper {
      padding: 40px;
      background-color: $gold;
    }
  }

  section.left-hs {
    width: 60%;
    height: 100%;
    float: left;
  }
  section.right-hs {
    width: 40%;
    height: 100%;
    float: left;
  }
}