.node--type-information-page {

  &.right {
    right: $gutter*3;
    .box-wrapper {
      float: right;
      right: $gutter*4;
    }
  }

  &.left {
    left: $gutter*3;
    .box-wrapper {
      float: left;
      left: $gutter*4;
    }
  }

  .inner-wrapper {
    position: relative;
    .field-image {
      &.parallax {

      }
    }

    .box-wrapper {
      background-color: $design-black;
      position: absolute;
      top: 15%;
      overflow: hidden;
      height: 500px;
      width: 500px;
      opacity: 0.8;
      padding: $gutter*3;
      .text {
        h1 {
          font-size: $gutter*2;
          line-height: 45px;
          margin: 0;
        }
        p {
          color: $white;
          font-size: 18px;
          line-height: 26px;
        }

      }
    }
  }
}
