.node--type-the-ladies,
.node--type-events,
.node--type-article {

  /*
  * - General styling
  */

  .field-gallery {
    overflow: hidden;
  }

  .info-wrapper {

    height: 1056px;
    overflow: hidden;
    .node-info {
      h2 {
        &:after {
          content: "";
          display: block;
          width: 200px;
          padding-top: $gutter;
        }
      }
       h3 {
        font-size: 16px;
        font-weight: 100;
      }
      time {
        @include font-regular;
        font-size: 20px;
        line-height: 18px;
      }
    }

    .field-para {



    }

  }


  /*
  * - Based on body background
  */
  &.black {

    .info-wrapper {
      padding: $gutter*2;
      background-color: $design-golden-brown;
      position: relative;
      .node-info {
        &:before {
          content: "";
          display: block;
          height: 140px;
          left: 0;
          position: absolute;
          border-left: 4px solid $gold;
        }
        time {
          color: $white;
        }

        h2 {
          &:after {
            border-bottom: 1px solid $white;
          }
        }

        h3 {
          color: $light-grey;
        }
      }
    }
  }

  &.white {
    .info-wrapper {
      padding: 40px;
      background-color: $white;
      border-left: 4px solid $gold;

      time {
        color: $design-black;
      }

      h2 {
        &:after {
          border-bottom: 1px solid $design-black;
        }
      }

      h3 {
        color: $gold;
      }
    }
  }

  &.gold {
    .info-wrapper {
      padding: 40px;
      background-color: $gold;

      time {
        color: $design-black;
      }

      h2 {
        &:after {
          border-bottom: 1px solid $design-black;
        }
      }

      h3 {
        color: $design-golden-brown;
      }
    }
  }

  section.left-hs {
    width: 60%;
    height: 100%;
    float: left;

    .banner-images {
      height: 1056px;
    }
  }
  section.right-hs {
    width: 40%;
    height: 100%;
    float: left;
  }
}

/*
* - For The Ladies node pages add a gradient
*/

.node--type-the-ladies {
  section.right-hs {

    .field-para {
      overflow: hidden;
      .field--name-field-paragraph-content {
        &:after {
          content: '';
          background: linear-gradient($design-black,rgba(0,0,0,0));
          transition: all 1s ease;
          position: fixed;
          bottom: 0;
          transform: rotate(180deg);
          right: 0;
          left: 0;
          opacity: 1;
          z-index: 1;
          height: 30vh;
          width: 100%;
          pointer-events: none;
        }
      }
    }
  }
}
