.node--type-the-ladies {
  position: relative;
  &.node--view-mode-teaser {

    .field-image {
      height: 100%;
      width: 100%;
      @include transition(all 0.5s ease);
      .banner-images {
        height: 700px;
        width: 100%;
        @include breakpoint($tablet) {
          height: 350px;
        }
      }
    }
    section.info-box {
      width: 40%;
      padding: $gutter*3;
      max-width: 550px;
      position: absolute;
      right: 0;
      bottom: 6%;
      z-index: 2;
      background-color: $design-black;
      border-left: 4px solid $gold;
      @include transition(all 0.5s ease);
      transform: translateX(100%);
      transition: transform 1.7s cubic-bezier(.19,1,.22,1);
      &.onload {
        transform: translateX(0);
      }
      h4 {
        color: $white;
        margin-bottom: $gutter/2;
        &:after {
          content: "";
          display: block;
          padding-bottom: $gutter/2;
          width: 40%;
          border-bottom: 1px solid $white;
        }
      }
      h5 {
        color: $white;
      }
      p {
        color: $gold;
      }
      a {
        position: absolute;
        right: 0;
        width: 50px;
        span {
          font-size: 0;
          position: absolute;
          bottom: 45px;
          width: 30px;
          height: 30px;
          cursor: pointer;
          &:before ,
          &:after {
            content: '';
            position: absolute;
            display: block;
            cursor: pointer;
            height: 2px;
            width: 30px;
            background: $gold;
          }

          &:before {
            top: 13px;
            @include rotate(-90deg);
          }

          &:after {
            top: 13px;
            @include rotate(0deg);
          }
        }
      }
      &.info-icon {

      }
    }
  }
}
