.node--type-the-ladies {

  &.node--view-mode-mini-teasers {
    @include breakpoint($small) {
      display: none;
    }
    .field-image {
      .banner-images {
        height: 130px;
        max-width: 400px;
        //transform: scale(1.5);
        //@include transition(opacity 0.35s, transform 0.35s);
      }
    }
  }
  &:hover {
    .banner-images {
      //transform: scale(1);
    }
  }
}
