header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  background-color: $white;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid $design-black;
  .inner { margin: $gutter auto; }

  @include breakpoint($tablet) {
    height: 80px;
  }
  &.slim-header {

    @include breakpoint($tablet-up) {
      height: 80px;
    }
    img {
      display: block;
      @include breakpoint($tablet) {
         width: 140px;
      }
      @include breakpoint($desktop-up) {
         width: 160px;
      }
    }

    nav.menu--main {
      padding: 5px 0;
    }
  }


  .sf-accordion-toggle {
    position: absolute;
    right: 0px;
    top: 5px;
    height: 70px;

    a {
      cursor: pointer;
      position: relative;
      display: block;
      float: right;
      width: 80px;
      height: 70px;
      padding: 0 27px;
      @include transition(all 0.25s ease);


      span, span:before, span:after {
        content: '';
        position: absolute;
        display: block;
        cursor: pointer;
        height: 4px;
        width: 30px;
        background: $design-black;
        @include transition(all 0.1s ease-in-out);
      }

      &.sf-expanded {
        span:before, span:after {
          background: $design-black;
        }
      }

      span {
        @include breakpoint($desktop-up) { display: none !important; }
        text-indent: -9999px;
        top: 31px;
        right: 25px;

        &:before {
          top: -9px;
        }

        &:after {
          top: 9px;
        }
      }

      &:hover {
        span {
          &:before {
            top: -11px;
          }

          &:after {
            top: 11px;
          }
        }
      }

      &.sf-expanded {
        span {
          background-color: transparent;
          &:before, &:after {
            top: 0px;
          }

          &:before {
            @include rotate(-45deg);
          }

          &:after {
            @include rotate(45deg);
          }
        }
      }
    }
  }
}


.region-header-left {
  width: 40%;
  float: left;
  img {
    display: block;
    width: 210px;
    display: block;
    transition: all 0.5s ease-in-out;
    @include breakpoint($tablet) {
      width: 150px;
    }
  }
}


.region-header-right {
  width: 60%;
  float: right;

  .h-wrapper {

    @include breakpoint($tablet) {
      display: none;
      background-color: $design-black;
      position: absolute;
      width: 100%;
      height: 380px;
      top: 80px;
      left: 0;
      border-bottom: 4px solid $gold;
    }

    &.opemMenu {
      display: block;
    }
  }

  @include breakpoint($tablet) {
    float: none;
    width: 100%;
  }

  .language-switcher-language-url {
    display: none;
    @include breakpoint($tablet) {
      a { font-weight: 700; }
    }
  }

  #block-connectmobile {
    display: none;
    @include breakpoint($tablet) {
      display: block;
      position: absolute;
      bottom: 0;
      padding-top: 50px;
      background-color: #252525;
      width: 100%;
    }
    ul {
      margin-left: $gutter;
      li {
        list-style-type: none;
        display: inline;
        float: left;
        @include breakpoint($tablet) {
          margin-left: 0;
        }
        &:nth-child(1) {
          margin-top: -48px;
        }
        &:nth-child(3) {
          margin-left: 10px;
        }
      }
      a {
        font-weight: 700;
        color: $gold;
        img {
          width: 35px;
          padding-bottom: $gutter/2;
        }
      }
    }
  }
}

