header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
  .inner { margin: $gutter auto; }
  &.sticky {

  }
}


.region-header-left {
  width: 30%;
  float: left;

  .site-logo {
    display: block;
    width: 210px;
  }
}

.region-header-right {
  width: 24%;
  float: right;

  .language-switcher-language-url {
    display: none;
    @include breakpoint($tablet) {
      display: block;
    }
  }

  .connect{
    display: none;
    @include breakpoint($tablet) {
      display: block;
    }
  }
}
