#block-languageswitcher {
  position: absolute;
  right: $gutter*8;
  bottom: 12px;

  @include breakpoint($mobile) {
    display: none;
  }

  li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding-right: 10px;
    a {
      color: $gold !important;
    }
    &:last-child { margin-right: 0; }
  }
}



#block-languageswitcher-mobile {
  display: none;
  @include breakpoint($tablet) {
    position: absolute;
    bottom: 95px;
    padding: $gutter/2 0;
    width: 100%;
    display: block;
    background-color: #252525;
  }
  ul.links {
    margin-left: $gutter;
    li {
      list-style-type: none;
      @include breakpoint($tablet) {
        margin-left: 0;
      }
      a { color: $gold; }
    }
  }
}
