#block-languageswitcher {
  position: absolute;
  right: $gutter*8;
  bottom: 12px;

  @include breakpoint($tablet) {
    display: none;
  }

  li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding-right: 10px;
    a {
      color: $gold !important;
    }
    &:last-child { margin-right: 0; }
  }
}



#block-languageswitcher-mobile {
  display: none;
  li {
    list-style-type: none;
    a { color: $gold; }
  }
  @include breakpoint($mobile) {
    display: block;
    position: absolute;
    left: 20px;
    top: 150px;
  }
}
