nav.menu--main {
  padding: 15px 0;
  float: right;
  transition: all 0.5s ease-in-out;
  @include breakpoint($tablet) {
    float: none;
  }
  @include breakpoint($tablet) {
    padding: 5px 0;
  }
  ul {
    margin-left: 0;
    padding: $gutter 0;
    li {
      display: inline;
      padding: 0;
      margin: 0 $gutter;
      @include breakpoint($tablet) {
        display: block;
        margin: $gutter/2 0;
        padding: $gutter/2 $gutter;
      }
      a {
        font-weight: 700;
        font-size: 20px;
        color: $design-black;
        padding-bottom: 8px;
        &.is-active {
          color: $gold;
        }
        @include breakpoint($tablet) {
          color: $gold;
        }
      }
      &:hover {
        @include breakpoint($tablet) {
          background-color: $design-golden-brown;
          a {
            color: $gold;
          }
        }
      }
    }
  }
}
